#################
#   POSTGRES    #
#################
POSTGRES_USER=cicd
POSTGRES_PASSWORD=cicd

#################
#    API        #
#################
CITY_API_ADDR=0.0.0.0
CITY_API_PORT=2022
CITY_API_DB_URL="postgresql://cicd:cicd@db:5432/cicd-project?schema=public"
CITY_API_DB_USER=cicd
CITY_API_DB_PWD=cicd